body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f9fa;
}

.container {
  display: flex;
  gap: 20px;
  height: calc(100vh - 80px);
  padding: 20px;
  box-sizing: border-box;
}

/* Node Manager (left side - 25%) */
.node-manager {
  width: 25%;
  display: flex;
  justify-content: flex-start;
}

/* Sankey Diagram (right side - 75%) */
.sankey-diagram {
  width: 75%;
  padding: 10px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

input, button {
  margin: 5px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button:hover {
  background-color: #007bff;
  color: white;
}

.language-button {
  background-color: #96b0ea; /* Default background color */
  color: #333; /* Default text color */
  border: 1px solid #96c839;
  padding: 10px 15px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.language-button:hover {
  background-color: #0d00ffe9; /* Background color on hover */
  color: white; /* Text color on hover */
}